<div class="container py-3">

    <!-- Header -->
    <div class="d-flex align-items-center justify-content-between mb-3">
        <div class="d-flex align-items-center gap-1">
            <i class="bi bi-arrow-left me-2" (click)="goBack()"></i>
            <h5 *ngIf="cattle$ | async as cattle" class="mb-0 text-capitalize">
                Events- [{{ cattle.name }} ]
            </h5>
        </div>
        <button class="btn btn-primary btn-sm" (click)="openModal()">
            + Add Event
        </button>
    </div>

    <!-- List -->
    <ng-container *ngIf="events$ | async as events">

        <div *ngIf="events.length === 0" class="text-center text-muted">
            No events found
        </div>

        <div *ngFor="let e of events" class="card mb-2 p-2">
            <div class="d-flex justify-content-between">
                <div>
                    <div class="fw-bold text-capitalize">
                        {{ e.name }} ({{ e.type }})
                    </div>
                    <small>Event Date: {{ e.date | date: 'dd-MMM-yyyy' }}</small>
                    <div class="text-muted small">{{ e.notes }}</div>
                </div>
                <div class="d-flex align-items-center gap-3">
                    <i class="bi bi-trash text-danger" (click)="deleteEvent(e)"></i>
                    <i class="bi bi-pencil text-primary" (click)="openModal(e)"></i>
                </div>
            </div>
        </div>

    </ng-container>

    <button class="btn btn-primary fab" (click)="openDateCalModal()">
        📅
    </button>
</div>


<div class="modal fade" id="eventModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Event</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">

                <!-- Category -->
                <div class="mb-3">
                    <label class="form-label">Event Type <span class="text-danger">*</span></label>
                    <select class="form-select" [(ngModel)]="eventType" (ngModelChange)="onEventTypeChange()">
                        <option value="">Select</option>
                        <option value="production">Production</option>
                        <option value="health">Health</option>
                    </select>
                </div>

                <!-- Sub Type -->
                <div class="mb-3" *ngIf="eventType">
                    <label class="form-label">Event<span class="text-danger">*</span></label>
                    <select class="form-select" [(ngModel)]="eventName">
                        <option value="">Select</option>

                        <ng-container *ngIf="eventType === 'production'">
                            <option value="inseminated">Inseminated</option>
                            <option value="pregnant">Pregnant</option>
                            <option value="birth">Gives Birth</option>
                            <option value="abortion">Abortion</option>
                        </ng-container>

                        <ng-container *ngIf="eventType === 'health'">
                            <option value="disease">Disease</option>
                            <option value="deworming">Deworming</option>
                            <option value="vaccination">Vaccination</option>
                        </ng-container>

                    </select>
                </div>

                <!-- Date -->
                <div class="mb-3">
                    <label class="form-label">Date <span class="text-danger">*</span></label>
                    <input type="date" class="form-control" [max]="todayDate" [(ngModel)]="eventDate">
                </div>
                <!-- Reminder Toggle -->
                <div class="form-check mb-2">
                    <input class="form-check-input" type="checkbox" [(ngModel)]="enableReminder">
                    <label class="form-check-label">Add Reminder</label>
                </div>
                <!-- Reminder Options -->
                <div *ngIf="enableReminder">
                    <!-- Option 1: Before days -->
                    <div class="mb-2">
                        <label>Remind Before (days)</label>
                        <input type="number" class="form-control" [(ngModel)]="remindBeforeDays" min="0">
                    </div>
                    <!-- OR Option 2: Direct date -->
                    <div class="mb-2">
                        <label>Reminder Date</label>
                        <input type="date" class="form-control" [(ngModel)]="reminderDate">
                    </div>
                </div>

                <!-- Notes -->
                <div class="mb-3">
                    <label class="form-label">Notes (Optional)</label>
                    <textarea class="form-control" rows="3"
                        placeholder="Add details like symptoms, medicine, remarks..." [(ngModel)]="eventNotes">
          </textarea>
                </div>

            </div>

            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button class="btn btn-primary" (click)="saveEvent()">Save</button>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="dateCalcModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content p-3">
            <div class="modal-header p-0 pb-3 mb-3">
                <h5 class="modal-title">Date Calculator</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="mb-3">
                <label>From Date</label>
                <input type="date" class="form-control" [(ngModel)]="fromDate">
            </div>
            <div class="mb-3">
                <label>To Date</label>
                <input type="date" class="form-control" [(ngModel)]="toDate">
            </div>
            <button class="btn btn-success w-100 mt-2" (click)="calculate()">Calculate</button>
            <div *ngIf="result" class="mt-3">
                <div class="text-muted">
                    <p class="mb-1">- <b>{{result.totalDays}} days</b></p>
                    <p class="mb-1">- or <b>{{result.totalMonths}} months {{result.days}} days</b></p>
                    <p class="mb-1">- or <b>{{result.weeks}} weeks {{result.remainingDays}} days</b></p>
                    <p class="mb-1">- <b>{{result.years}} years {{result.months}} months {{result.days}} days</b></p>
                </div>
            </div>
        </div>
    </div>
</div>